<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <link rel="shortcut icon" href="/favicon.ico">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="viewport" content="initial-scale=1.0">
  <title><%= title %></title>
  <% if (debug === false) { %>
  <link type="text/css" rel="stylesheet" media="all" href="/css/app.<%= version %>.css" />
  <% } %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"><!-- Optional theme -->

  <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
	    <![endif]-->
  <!-- Stylesheets -->

  <link rel="stylesheet" type="text/css" href="//<%= static_domain %>/css/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="//<%= static_domain %>/css/custom.css">
  <link rel="stylesheet" type="text/css" href="//<%= static_domain %>/css/custom-specific.css">
	<link rel="stylesheet" type="text/css" href="//<%= static_domain %>/travel-guide.mobi/style.css">

  <!-- Google fonts -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900" rel="stylesheet"> 

  <base href='/'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= googleAnalytics %>', 'auto'); // varied, _vp_ 20170725, 20171207
    ga('send', 'pageview');    
  </script>

  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyASTxVRpD3hpK5_EHWDROrzuvLNhOsvbuE&callback=initMap"></script>

</head>
<body>
  <div id="app"></div>
  <script             src="/js/app.<%= version %>.js"></script>
  <!-- <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyASTxVRpD3hpK5_EHWDROrzuvLNhOsvbuE&callback=initMap"></script> -->
  <script async       src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
   function initMap() { window.google = google; }
  </script>
  <script src="//js.stripe.com/v3/"></script>

  <div class="background_overlay"></div>

	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery-migrate-1.4.1.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery-ui-1.11.1.custom.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.transit.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.sliderControl.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.timeago.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.hint.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/main.js"></script>
	<script type="text/javascript" src="//<%= static_domain %>/piousbox.com/js/odometer.min.js"></script>

</body>
</html>
